services:
  service:
    build:
      context: .

    environment:
      TOKEN_VALIDATOR_TYPE: "${TOKEN_VALIDATOR_TYPE:-}"
      AUTH_SERVICE_BASE_URL: "http://ab-auth-client-service:9000/"
      TOKEN_VALIDATOR_SERVICE_BASE_URL: "http://ab-token-validator-service:9001/"
      USER_SERVICE_BASE_URL: "http://ab-user-service:9002/"


    volumes:
      - ./src:/package/src
      - ./tests:/package/tests
      - ./alembic:/package/alembic
      - ./alembic.ini:/package/alembic.ini:ro
      - ab_bff_service_data:/package/data

    ports:
      - "9999:80"

  ab-user-service:
    container_name: ab-user-service
    image: mattcoulter7/ab-user-service:0.2.1
    volumes:
      - ab_user_service_data:/package/data
    ports:
      - "9002:80"
    networks:
      - auth-broker-bff
    restart: unless-stopped

  ab-token-validator-service:
    container_name: ab-token-validator-service
    image: mattcoulter7/ab-token-validator-service:0.1.5
    environment:
      TOKEN_VALIDATOR_TYPE: "${TOKEN_VALIDATOR_TYPE:-}"
      TOKEN_VALIDATOR_OIDC_ISSUER: "${TOKEN_VALIDATOR_OIDC_ISSUER:-}"
      TOKEN_VALIDATOR_OIDC_JWKS_URI: "${TOKEN_VALIDATOR_OIDC_JWKS_URI:-}"
      TOKEN_VALIDATOR_OIDC_AUDIENCE: "${TOKEN_VALIDATOR_OIDC_AUDIENCE:-}"
      TOKEN_VALIDATOR_OIDC_ALGORITHMS: '${TOKEN_VALIDATOR_OIDC_ALGORITHMS:-[]}'
    ports:
      - "9001:80"
    networks:
      - auth-broker-bff
    restart: unless-stopped

  ab-auth-client-service:
    container_name: ab-auth-client-service
    image: mattcoulter7/ab-auth-client-service:0.1.5
    environment:
      O_AUTH2_CLIENT_TYPE: "${O_AUTH2_CLIENT_TYPE:-}"
      O_AUTH2_CLIENT_STANDARD_CONFIG_CLIENT_ID: "${O_AUTH2_CLIENT_STANDARD_CONFIG_CLIENT_ID:-}"
      O_AUTH2_CLIENT_STANDARD_CONFIG_CLIENT_SECRET: "${O_AUTH2_CLIENT_STANDARD_CONFIG_CLIENT_SECRET:-}"
      O_AUTH2_CLIENT_STANDARD_CONFIG_REDIRECT_URI: "${O_AUTH2_CLIENT_STANDARD_CONFIG_REDIRECT_URI:-}"
      O_AUTH2_CLIENT_STANDARD_CONFIG_AUTHORIZE_URL: "${O_AUTH2_CLIENT_STANDARD_CONFIG_AUTHORIZE_URL:-}"
      O_AUTH2_CLIENT_STANDARD_CONFIG_TOKEN_URL: "${O_AUTH2_CLIENT_STANDARD_CONFIG_TOKEN_URL:-}"
    ports:
      - "9000:80"
    networks:
      - auth-broker-bff
    restart: unless-stopped

networks:
  auth-broker-bff:
    external: true

volumes:
  ab_bff_service_data:
  ab_user_service_data:
